.login_body label {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: burlywood;
}

.input_field {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: skyblue;
}

.btn {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: whitesmoke;
    background-color: black;
    border-radius: 20px;
    width: 280px;
    margin: 0 auto; 
    transition: transform 0.3s; 
    padding-top: 10px;
}

.btn:hover {
    transform: scale(1.05);
}

.login_body {
    border: 10px solid black; 
    height: 400px;
    padding: 30px;
    width: 350px;
    background-color: skyblue;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
}
